/* ----------------------------
layout
---------------------------- */
/* page */
.page
{
    max-width: 1200px;
    width: 100%;
    min-height: 60em;
    text-align: center;
    position: relative;
}
.home
{
    background: #f5f5dc url("../img/backgrounds/chopin-480.jpg") repeat-y fixed top;
    background-size: contain;
}
.concerten
{
    background: #f5f5dc url("../img/backgrounds/cello-480.jpg") repeat-y fixed top;
    background-size: contain;
}
.partituur
{
    background: #f5f5dc url("../img/backgrounds/partituur_480.jpg") repeat-y fixed top;
    background-size: contain;
}

/* row */
.row
{
    clear: both;
    overflow: hidden;
}

/* row-colors */
/* donkere rows */
.row--dark-red { background: darkred;}
.row--black { background: #000;}
.row--dark-red,
.row--black { color: #fff;}
.row--dark-red a,
.row--black a { color: peru;}
/* bleke rows */
.row--beige { background: beige;}
.row--white { background: white;}


/* row-padding */
.row--padding-min
{
    padding: 0.5em 0;
}
.row--padding-narrow
{
    padding-top: 1em;
    padding-bottom: 1em;
    /* 16px/16px */
}
.row--padding-medium
{
    padding-top: 2.1875em;
    padding-bottom: 2.1875em;
    /* 35px/16px */
}

.row--padding-wide
{
    padding-top: 2.1875em;
    padding-bottom: 2.1875em;
    /* 35px/16px */
}

/* containers */
.container-narrow,
.container-medium,
.container-wide
{
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.container-narrow { max-width: 34em; background: none;}
.container-medium { max-width: 52em; background: none;}
.container-wide { max-width: 58em; background: none}

/* columns */
.col-narrow,
.col-narrow--right
{
    margin-bottom: 1.5em;
    background: none;
    text-align: center;
}
.col-narrow img,
.col-narrow--right img
{
    max-height: 15em;
    /* 200px/16px */
}

.col-wide,
.col-wide--right
{
    text-align: left;
}

.col-full
{
    width: 100%;
    text-align: left;
    margin-top: 0.5em;
}


/* ----------------------------
wide
---------------------------- */
/* 480px 30em */
@media (min-width: 30em)
{
    .home
    {
        background: #f5f5dc url("../img/backgrounds/chopin-800.jpg") repeat-y fixed top;
        background-size: contain;
    }
    .concerten
    {
        background: #f5f5dc url("../img/backgrounds/cello-800a.jpg") repeat-y fixed top;
        background-size: contain;
    }
    .partituur
    {
        background: #f5f5dc url("../img/backgrounds/partituur_800.jpg") repeat-y fixed top;
        background-size: contain;
    }
}

/* 608px 38em */
@media (min-width: 38em)
{
    .row--padding-narrow
    {
        padding-top: 2em;
        padding-bottom: 2em;
        /* 36px/18px */
    }
    .row--padding-medium
    {
        padding-top: 3.8889em;
        padding-bottom: 3.8889em;
        /* 70px/18px */
    }

    .row--padding-wide
    {
        padding-top: 5.5556em;
        padding-bottom: 5.5556em;
        /* 100px/18px */
    }

    .container-narrow,
    .container-medium,
    .container-wide
    {
        padding-left: 2em;
        padding-right: 2em;
    }

    .col-narrow,
    .col-medium,
    .col-wide
    {
        float: left;
        vertical-align: middle;
        position: relative;
    }
    .col-narrow--right,
    .col-wide--right { float: right; }

    .col-wide,
    .col-wide--right
    {
        width: 61%;
        max-width: 40em;
        text-align: left;
    }

    .col-medium { width: 50%; }

    .col-narrow,
    .col-narrow--right
    {
        width: 33%;
        margin-bottom: 0;
    }
    .col-narrow img,
    .col-narrow--right img
    {
        max-height: 12em;
        /* 216px/18px */
    }


}

/* 800px 50em */
@media (min-width: 50em)
{
    .home
    {
        background: #f5f5dc url("../img/backgrounds/chopin-1200.jpg") repeat-y fixed top;
        background-size: cover;
    }
    .concerten
    {
        background: #f5f5dc url("../img/backgrounds/cello-1200a.jpg") repeat-y fixed top;
        background-size: contain;
    }
    .partituur
    {
        background: #f5f5dc url("../img/backgrounds/partituur_1200a.jpg") repeat-y fixed top;
        background-size: contain;
    }

    .col-wide--right
    {
        width: 61%;
    }
}
/* 1200px 75em */
@media (min-width: 75em) {
    .partituur {
        background: #f5f5dc url("../img/backgrounds/partituur_1200b.jpg") repeat-y fixed top;
    }
    .home,
    .concerten,
    .partituur
    {
        background-size: 1200px;
    }
}