/* ----------------------------
layout
---------------------------- */

/* row */
.row
{
    clear: both;
    overflow: hidden;
}

/* row-colors */
.row--white { background: #fff; }
.row--grey { background: #f8f8f8; }
.row--blue { background: #3bb2d0; }

/* row-padding */
.row--padding-medium
{
    padding-top: 2.1875em;
    padding-bottom: 2.1875em;
    /* 35px/16px */
}

.row--padding-wide
{
    padding-top: 2.1875em;
    padding-bottom: 2.1875em;
    /* 35px/16px */
}

/* containers */
.container-narrow,
.container-medium,
.container-wide
{
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.container-narrow
{
    max-width: 34em;
    background-color: yellow;
}
.container-medium
{
    max-width: 52em;
    background-color: greenyellow;
}
.container-wide
{
    max-width: 58em;
    background-color: orange;
}

/* columns */
.col-narrow,
.col-narrow--right
{
    margin-bottom: 1.5em;
    background-color: beige;
}
.col-medium
{
    background-color: brown;
}
.col-medium--right
{
    background-color: peru;
}
.col-wide,
.col-wide--right
{
    background-color: burlywood;
}

/* ----------------------------
wide
---------------------------- */

@media (min-width: 38em)
{
    .row--padding-narrow
    {
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .row--padding-medium
    {
        padding-top: 3.8889em;
        padding-bottom: 3.8889em;
        /* 70px/18px */
    }
    .row--padding-wide
    {
        padding-top: 5.5556em;
        padding-bottom: 5.5556em;
        /* 100px/18px */
    }
    .container-narrow,
    .container-medium,
    .container-wide
    {
        padding-left: 2em;
        padding-right: 2em;
    }

    .col-narrow,
    .col-medium,
    .col-wide
    {
        float: left;
    }
    .col-narrow--right,
    .col-medium--right,
    .col-wide--right { float: right; }

    .col-wide,
    .col-wide--right { width: 61%; }

    .col-medium,
    .col-medium--right { width: 50%; }

    .col-narrow,
    .col-narrow--right
    {
        width: 25%;
        margin-bottom: 0;
    }
}
