/* ----------------------------
banner
---------------------------- */

.row--banner
{

}

.meter
{
    background-color: rgba(200,200,200,0.3);
    background-image: url('../img/meter_1280.png');
    background-repeat: repeat-y;
}

.meter-100-center-top
{
    background-size: 100%;
    background-position: center top;
}
.meter-contain-center-top
{
    background-size: contain;
    background-position: center top;
}
.meter-cover-center-top
{
    background-size: cover;
    background-position: center top;
}

@media (min-width: 38em)
{

}


/* ----------------------------
header
---------------------------- */

.header
{

}

.header__logo
{

}

.header__nav
{

}

.header__nav ul
{

}

.header__nav li
{

}

.header__nav a
{

}

.header__nav-contact a
{

}

.current a
{

}

.header__nav a:focus
{

}
.header__nav a:hover
{

}
.header__nav a:active
{

}

@media (min-width: 38em)
{
    .header
    {

    }

    .header__nav
    {

    }

    .header__nav a
    {


    }
}

/* ----------------------------
banner-content
---------------------------- */

.banner-content
{

}

.banner-content__heading
{

}

@media (min-width: 38em)
{
    .banner-content
    {

    }

    .banner-content__heading
    {

    }
}


/* ----------------------------
footer
---------------------------- */

.footer__info { color: #777; }

.footer__info ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__info a:link,
.footer__info a:visited
{
    color: #777;
    text-decoration: none;
}

.footer__info a:focus,
.footer__info a:hover,
.footer__info a:active { border-bottom: .15em solid; }

.footer__info a:focus { color: #fff; }
.footer__info a:hover { color: #3bb2d0; }
.footer__info a:active { color: #56b880; }

.footer__logo { margin: 0 0 2em; }
.footer__copyright { margin: 1em 0 0; }
.footer__copyright li
{
    display: inline-block;
    margin: 0 1em 0 0;
}

@media (min-width: 38em)
{
    .footer__cta { text-align: right; }
}