/* ----------------------------
banner
---------------------------- */

.row--banner
{

}

@media (min-width: 38em)
{

}

/* ----------------------------
header
---------------------------- */

.header
{

}

.header__logo
{
    margin-top: 1em;
}

.header__nav
{

}

.header__nav ul
{

}

.header__nav li
{

}

.header__nav a
{

}

.header__nav-contact a
{

}

.current a
{

}

.header__nav a:focus
{

}
.header__nav a:hover
{

}
.header__nav a:active
{

}

@media (min-width: 38em)
{
    .header
    {

    }

    .header__nav
    {

    }

    .header__nav a
    {


    }
}

/* ----------------------------
banner-content
---------------------------- */

.banner-content
{
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.banner-content__heading
{
    display: inline-block;
    padding: 0.5em;
    margin: 1em 0 1em 0;
    color: #000;
    background-color: #ffffff;
    background-color: hsla(100,100%,100%, 0.8);
    border-radius: 0.5em;
}
.banner-content__heading-intro {font-style: italic;}

@media (min-width: 42em)
{
    .banner-content
    {

    }

    .banner-content__heading
    {

    }
}


/* ----------------------------
footer
---------------------------- */

.footer__info { color: #777; }

.footer__info ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__info a:link,
.footer__info a:visited
{
    color: #777;
    text-decoration: none;
}

.footer__info a:focus,
.footer__info a:hover,
.footer__info a:active { border-bottom: .15em solid; }

.footer__info a:focus { color: #fff; }
.footer__info a:hover { color: #3bb2d0; }
.footer__info a:active { color: #56b880; }

.footer__logo { margin: 0 0 2em; }
.footer__copyright { margin: 1em 0 0; }
.footer__copyright li
{
    display: inline-block;
    margin: 0 1em 0 0;
}

@media (min-width: 38em)
{
    .footer__cta { text-align: right; }
}